<a href="https://colab.research.google.com/github/Sambit1708/DMDW_Lab/blob/main/Assignmen_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name:** Sambit Kumar Khandai

**Roll_No:** 19CSE035

**Sec:** C

**Q1)** Create a list in python and find the mean and median of the list without using inbuilt function

In [ ]:
li = [12, 35, 18, 9, 56, 24]
sum=0
for x in li:
  sum += x
mean = sum/len(li)
print('Mean of list is:  ',  mean)
median = 0
if len(li) % 2 == 0:
  m1 = li[len(li)//2]
  m2 = li[len(li)//2 - 1]
  median = (m1 + m2)/2

else:
  median = li[len(li)//2]

print('Median of list is: ', median)

Mean of list is:   25.666666666666668
Median of list is:  13.5

**Q2)** Create a list in python. Find the mode of the list without using built-in funcion.

In [ ]:
li = [2, 3, 1, 1, 6, 2, 5]
freq = {}
for x in li:
  freq.setdefault(x, 0)
  freq[x] += 1

mode = [k for k, v in freq.items() if v == max(list(freq.values()))]
if len(mode) == len(li):
  print('No mode found')
else:
  print(mode)

[2, 1]

**Q3)** Create a list in python . Find the second smallest no. & second highest number in the list.

In [ ]:
li = [12, 35, 18, 9, 56, 24]
li.sort()
print('Second Smallest number is: ', li[1])
print('Second Highest number is: ',li[-2])

Second Smallest number is:  12
Second Highest number is:  35