<a href="https://colab.research.google.com/github/Sambit1708/DMDW_Lab/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**6**

**A) Create a DataFrame(size=3x4) with random integers with explicit indexing**

**B) Perform sin(df * pi / 4) operation over the dataframe.**

**C) Subtract first value of the dataframe from each elements the dataframe.**

**D) Subtract first row of the dataframe from each rows of the dataframe**

In [1]:
import pandas as pd
import numpy as np

In [2]:
#A)
data = np.random.randn(3,4)
df = pd.DataFrame(data = data, columns=[1,2,3,4])
print(df)

          1         2         3         4
0  1.070203  0.192293 -0.183765  0.614572
1 -0.918281  0.458818 -0.010273  1.366208
2 -0.487193 -1.487055  1.132225 -0.708633

In [3]:
# B)
print(np.sin(df * np.pi / 4))

          1         2         3         4
0  0.745000  0.150453 -0.143828  0.464158
1 -0.660299  0.352607 -0.008068  0.878645
2 -0.373371 -0.919941  0.776598 -0.528268

In [4]:
# C)
first_value = df[1][0]
print(df.subtract(first_value, axis=1))

          1         2         3         4
0  0.000000 -0.877910 -1.253968 -0.455631
1 -1.988484 -0.611385 -1.080476  0.296005
2 -1.557396 -2.557258  0.062022 -1.778836

In [5]:
# D)
first_row = df.iloc[0]
print(df.subtract(first_row, axis=1))

          1         2         3         4
0  0.000000  0.000000  0.000000  0.000000
1 -1.988484  0.266526  0.173492  0.751636
2 -1.557396 -1.679348  1.315990 -1.323205

**7) Write a python program:**

**A) Read a CSV file using pandas dataframe.**

**B) Display the first 8 rows of the data.**

**C) Diaplay the last 8 rows of the data.**

**D) Get and display the datatype used in this data**

**E) Get and Display the unique values available under a particular attribute**

In [6]:

from google.colab import files
  
  
uploaded = files.upload()

Saving iris.csv to iris.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [9]:
df1 = pd.read_csv('iris.csv')
print('First 8 rows: -')
print(df1.head(8))
print('Last 8 rows: -')
print(df1.tail(8))
print('Data type: -', df1.dtypes)
print(df1.variety.unique())

First 8 rows: -
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
Last 8 rows: -
     sepal.length  sepal.width  petal.length  petal.width    variety
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
Data type: - sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object
['Setosa' 'Versicolor' 'Virginica']

**8) Write a python program:**

**A) Read a dataset using pandas dataframe.**

**B) Rename a column.**

**C) Filter the data using some condition.**

**D) Find the mean and standard deviation of value for each attribute**

In [10]:
df2 = pd.read_csv('iris.csv')
df2.rename(columns = {'sepal.length':'SpLength'}, inplace=True)
print(df2.head())
rslt_df = df2[df2['SpLength'] > 4.5]
print(rslt_df.head())
print(df2.mean())
print(df2.std())

   SpLength  sepal.width  petal.length  petal.width variety
0       5.1          3.5           1.4          0.2  Setosa
1       4.9          3.0           1.4          0.2  Setosa
2       4.7          3.2           1.3          0.2  Setosa
3       4.6          3.1           1.5          0.2  Setosa
4       5.0          3.6           1.4          0.2  Setosa
   SpLength  sepal.width  petal.length  petal.width variety
0       5.1          3.5           1.4          0.2  Setosa
1       4.9          3.0           1.4          0.2  Setosa
2       4.7          3.2           1.3          0.2  Setosa
3       4.6          3.1           1.5          0.2  Setosa
4       5.0          3.6           1.4          0.2  Setosa
SpLength        5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64
SpLength        0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.762238
dtype: float64

**9) Write a python program:**

**A) Read a dataset using pandas dataframe.**

**B) Check if there exists any duplicate value.**

**C) If exists any duplicate values then remove the duplicate value.**

In [11]:
df3 = pd.read_csv('iris.csv')
print(df3.duplicated())
df3.drop_duplicates(keep=False,inplace=True)
df3.head()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

**10) Show using a program how to group a data in python using pandas.**

In [16]:
df4 = pd.read_csv('iris.csv')
df4.head()
gk = df4.groupby('sepal.length')
gk.first()

              sepal.width  petal.length  petal.width     variety
sepal.length
4.3                   3.0           1.1          0.1      Setosa
4.4                   2.9           1.4          0.2      Setosa
4.5                   2.3           1.3          0.3      Setosa
4.6                   3.1           1.5          0.2      Setosa
4.7                   3.2           1.3          0.2      Setosa
4.8                   3.4           1.6          0.2      Setosa
4.9                   3.0           1.4          0.2      Setosa
5.0                   3.6           1.4          0.2      Setosa
5.1                   3.5           1.4          0.2      Setosa
5.2                   3.5           1.5          0.2      Setosa
5.3                   3.7           1.5          0.2      Setosa
5.4                   3.9           1.7          0.4      Setosa
5.5                   4.2           1.4          0.2      Setosa
5.6                   2.9           3.6          1.3  Versicolor
5.7                   4.4           1.5          0.4      Setosa
5.8                   4.0           1.2          0.2      Setosa
5.9                   3.0           4.2          1.5  Versicolor
6.0                   2.2           4.0          1.0  Versicolor
6.1                   2.9           4.7          1.4  Versicolor
6.2                   2.2           4.5          1.5  Versicolor
6.3                   3.3           4.7          1.6  Versicolor
6.4                   3.2           4.5          1.5  Versicolor
6.5                   2.8           4.6          1.5  Versicolor
6.6                   2.9           4.6          1.3  Versicolor
6.7                   3.1           4.4          1.4  Versicolor
6.8                   2.8           4.8          1.4  Versicolor
6.9                   3.1           4.9          1.5  Versicolor
7.0                   3.2           4.7          1.4  Versicolor
7.1                   3.0           5.9          2.1   Virginica
7.2                   3.6           6.1          2.5   Virginica
7.3                   2.9           6.3          1.8   Virginica
7.4                   2.8           6.1          1.9   Virginica
7.6                   3.0           6.6          2.1   Virginica
7.7                   3.8           6.7          2.2   Virginica
7.9                   3.8           6.4          2.0   Virginica